.blog_page {
  max-width: 820px;
  margin: auto;
  padding: 60px 0;
}

.blog_article {
  background: #fcfdfa;
  border-radius: 12px;
  padding: 60px 48px;
}

.blog_title {
  font-size: 32px;
  margin: 0;
  text-align: center;
}

.blog_date {
  font-size: 16px;
  margin: 12px auto 0;
  text-align: center;
}
