.main_container {
  margin: 0 12px;
  max-width: 600px;
  padding: 40px;
}

@media screen and (min-width: 750px) {
  .main_container {
    margin: 0 auto;
  }
}

.page_title {
  font-size: 32px;
  font-weight: normal;
  margin: 0 auto 40px;
  padding: 0;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .page_title {
    margin: 0 auto 60px;
  }
}
