.work {
  margin: 20px auto 0;
  max-width: 400px;
  padding: 40px 60px;
}

.component_title {
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 40px;
  text-align: center;
}

.work_container {
  margin: 20px 0 0;
}

.work_date {
  color: #4a5359;
  font-size: 16px;
  margin: 0;
}

.work_link_anchor {
  color: #252a2c;
  text-decoration: none;
}

.work_link_anchor:hover {
  text-decoration: underline;
}

.work_description {
  font-size: 18px;
  margin: 8px 0;
  padding: 0;
}
